.idea
/java-solutions/info
/out
/lib
java-advanced-2020-solutions.iml
/java-solutions/ru/ifmo/rain/test
/java-solutions/META-INF
/java-solutions/ru/ifmo/rain/konovalov/concurrent/IterativeParallelismW.java